* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: url("../images/login.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  color: #065f4f;
  padding-top: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.login {
  width: 530px;
  height: 530px;
  padding: 10px;
  position: relative;
  top: 115px;
  font-size: 30px;
  float: left;
  background-color: #2626262b;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 50px;
}
label {
  position: absolute;
  left: 55px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.user {
  top: 136px;
}
.pass {
  top: 206px;
}
input {
  display: block;
  width: 227px;
  margin: 40px 30px 30px 178px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.forget a {
  text-decoration-line: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  -moz-text-decoration-line: none;
  font-family: "Pacifico", cursive;
}
button {
  display: block;
  padding: 11px;
  margin: 44px 22px 22px 175px;
  width: 227px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #065f4f;
  color: white;
  font-family: "Pacifico", cursive;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
p {
  margin-top: 13px;
  font-size: 16px;
}
ul {
  margin: 15px;
}
li {
  list-style-type: none;
  display: inline;
  margin: 15px;
  font-size: 20px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.social-icons a {
  color: #065f4f;
  font-size: 28px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.social-icons a:hover {
  font-size: 35px;
  color: black;
}
span {
  font-size: 20px;
}
.sign-up {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}
