* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: url("../images/register.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.signup-box {
  width: 360px;
  height: 620px;
  margin: 49px 10px 10px 100px;
  background-color: #fcfcfc5c;
  border-radius: 20px;
}
h1 {
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}
form {
  width: 300px;
  margin-left: 20px;
}
form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #065f4f;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para a {
  color: #9f0909f0;
}
.para-2 {
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  font-size: 20px;
  color: #9f0909f0;
}
